# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Folders
Content/TylerJo

# Compiled Static libraries
*.lai
*.la
*.a

# Folders
Content/TylerJo
Resource/Data/TylerJo

# Executables
*.out
*.app
*.pdb
*.exe
*.dll
*.modules
*.target

# Windows
/desktop.ini

# Resources
*.fbx
*.tga

# Localization
*.csv

# T4Framework
*.cpp
*.h
*.cs
*.orig
*.7z
/*.sln
.vs
Binaries/Win64/*.exe
Config/DefaultVirtualFlowStudio.ini
Config/DefaultT4Framework.ini
*BuiltData.uasset
enc_temp_folder/
Config/Localization/
Build/
DerivedDataCache/
Intermediate/
Saved/
ThirdParty/
Source/
License/*.lic
Content/Paragon*/
Content/Brushify/
Content/Particles_Wind_Control_System/
Content/AdvancedLocomotionV4/
Content/AnimalVarietyPack/
Content/Meadow_Environment_Set/
Content/FantasyVillage/
Content/ModernCityEnvironment01/
Content/AdvancedMagicFX12/
Content/CloseCombat/
Content/DynamicCombatSystem/
Content/Explosions/
Content/MagicModule/
Content/Developers/
Content/Collections/
Content/DynamicCombatSystem/
Content/CloseCombat/
Content/MagicModule/
Content/ArcherAnimsetPro/
Content/AnimStarterPack/
Content/FPS_Weapon_Bundle/
Content/FPSwordAndShield/
Content/AGhost/
Content/CharGen/
Content/StarterContent/
Content/GKnight/
Content/Darklady/
Content/SkeletonCrew/
Content/GenericNPCAnimPack/
Content/TheTargetingSystem/
Content/AbandonedFactory/
Content/YI_ModularZombies/
Content/Zombie_Sound_Effects_Bundle/
Content/SubwayTrain/
Content/Animation/
Content/Materials/
Content/SampleMetaHumans/
Content/Levels/
Content/OfficeScene/
Content/DMXPrevis/
Content/MetaHumans/
Content/TwinmotionReadyposed/
Content/RuralAustralia/
Content/FactoryEnvironment/
Content/VirtualStage/
Content/LearningKit_Games/
Content/CityofBrass_Enemies/
Content/City_of_Brass_Enviroment/
Content/AfricanAnimalsPack/
Content/QuadrapedCreatures/
Content/ModularSciFiHeroesPBR/
Content/BlockGame/
Content/Hour_of_Code/
Content/ParagonSparrow/
Content/FantasyOrchestral/
Content/SoundTestGame2/
Content/Hack_And_Slash_FX/
Content/AdvancedFemaleCustomization/
Content/AfricanAnimalsPack/
Content/Explosions/
Content/PhotoR_Backgrounds/
Content/Weapon_Pack/
Content/FPS_Weapon_Bundle/
Content/FlightLocomotion_Original/
Packed/Android_Multi/Install_VirtualFlowBeta-armv7.bat
Packed/Android_Multi/Uninstall_VirtualFlowBeta-armv7.bat
Packed/Android_Multi/VirtualFlowBeta-armv7.apk
Content/VirtualFlow/UserData/UserProject/T4UserProjectsSetting.t4proj
Content/VirtualFlow/StagingData/
Content/InventorySystem/
Content/ProIconPack/
Content/KiteDemo/
Content/Lighting/
Content/SampleMap/
Content/PolygonDungeonRealms/
Content/PolygonFantasyKingdom/
Content/ES01_Forest/
Content/hs03_ModularHero/
Content/ma09_Monsterset_01/
Content/ImproveFights_Vfx/
Content/Loot_FX_Pack/
Content/Golem/
Content/StylizedToonShotFX01/
Content/StylizedToonTrailFX1/
Content/ModularMagicCircles/
Content/VirtualFlow/DemoProjects/Assets
Content/VirtualFlow/DemoProjects/Cesium
Content/VirtualFlow/DemoProjects/DogFood
Content/VirtualFlow/DemoProjects/MetaEnt
Content/VirtualFlow/DemoProjects/MetaHuman
Content/VirtualFlow/DemoProjects/NYC1950
Content/VirtualFlow/DemoProjects/ParagonWar
Content/VirtualFlow/DemoProjects/SkeletonCrew
Content/VirtualFlow/DemoProjects/SubwayTrain
Content/VirtualFlow/DemoProjects/ZombieWorld
Content/VirtualFlow/DemoProjects/HelloWorld
Resource/Data/VirtualFlow/DemoProjects/Cesium
Resource/Data/VirtualFlow/DemoProjects/DogFood
Resource/Data/VirtualFlow/DemoProjects/MetaEnt
Resource/Data/VirtualFlow/DemoProjects/MetaHuman
Resource/Data/VirtualFlow/DemoProjects/NYC1950
Resource/Data/VirtualFlow/DemoProjects/ParagonWar
Resource/Data/VirtualFlow/DemoProjects/SkeletonCrew
Resource/Data/VirtualFlow/DemoProjects/SubwayTrain
Resource/Data/VirtualFlow/DemoProjects/ZombieWorld
Resource/Data/VirtualFlow/DemoProjects/HellowWorld
Content/CityPark/
Content/GOPRO/
Content/MCO_Mocap_Basics/
Content/EnvironmentPack3/
Content/TheOrigin/
Content/SMART-ArchVizPack01/
Content/AssetsvilleTown
